.mySkillsMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inventoryGeneralDetail{
    align-items: center;
}
.mySkillsBox{
    width: 90%;
    height: 80%;
    border: orange solid 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
.inventoryTitle{
    position: absolute;
    top: 1.8%;
    left: 12%;
    width: 10rem;
    color: rgb(2, 2, 2);
    border: rgb(255, 136, 0) solid 5px;
    background-color: orange;
    border-bottom: 5px solid orange;
    border-radius: 0px 0px ;
    z-index: 2;
    font-weight:lighter;
    
}



.inventorySpaceContainer{
    
    display: grid;
    grid-template-columns: repeat(4, 70px ); 
    grid-template-rows: repeat(3, 70px); /* Altura de las filas */
    grid-gap: 10px; 
    
}
.inventorySpace{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.inventorySpace:hover{
    transition: 0.5s;
    background-color: white;
    border: 2px solid rgb(255, 136, 0);
}

@media (min-width: 1440px ) {
        .inventoryTitle{ top: 3.5%;}
        .inventorySpaceContainer{
            grid-template-columns: repeat(4, 100px ); 
            grid-template-rows: repeat(3, 100px); 
            grid-gap: 10px;    
        }
       
    }


