.LanguageBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 5px dashed red;
    
}


.LanguageTitle{
    font-size: 2.2rem;
    color: red;
}
.LanguageOption1,.LanguageOption2{
    font-size: 2rem;

    color: rgb(255, 255, 255);
    border: 10px solid white;
    
    border-radius: 10px;

    width: 40%;
}
.pointHand1,.pointHand2{
    width: 10%;
    position: absolute;
    left:  16%;
    animation: pointHandMovement ease-in 1s infinite;
    display: none;
}
.pointHand1{
    bottom: 40%;
}
.pointHand2{
    bottom: 10%;
}
.LanguageOption1:hover,.LanguageOption2:hover{
    cursor: pointer;
    color: red;
    border-color: red;
}
.LanguageOption1:hover .pointHand1{display: block;}
.LanguageOption2:hover .pointHand2{display: block;}

@keyframes pointHandMovement {
    0%{
        left: 16%;
    }
    50%{
        left: 20%;
    }
    100%{
        left: 16%;
    }
}

@media (min-width: 1440px ) {
    .pointHand1{
        bottom: 46%;
    }
    .pointHand2{
        bottom: 23%;
    }
}