.closedHand{
    width: 100px;
    position: absolute;
    bottom: -10%;
    right: -3%;
    z-index: 4 ;
    animation: handsAppears 3s ease-in reverse;
    opacity: 0;
}
.openHand{
    opacity: 0;
    width: 110px;
    z-index: 4 ;

    position: absolute;
    bottom: -10%;
    right: -3%;
    animation: handsAppears 2s ease-in;
}

@keyframes handsAppears {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    
}